<table class="table"
	   hx-get="/htmx/sl.html"
       hx-trigger="every 15s"
       hx-swap="outerHTML">
    <thead>
		<tr>
			<th scope="col" colspan="4">Avgångar</th>
		</tr>
    </thead>
    <tbody>
		{{range .sl.Departures}}
		<tr stype="height: 2em">
			<td>
				<img class="icon white"
					 src="../images/directions/{{ .TransportMode }}.png"
					 alt="{{ .TransportMode }}" />
			</td>
			<td>
				<span class="badge bg-danger">
					{{ .LineNumber }}
				</span>
			</td>
			<td>{{ .Destination }}</td>
			<th scope="row">{{ .DisplayTime }}</th>
		</tr>
		{{else}}
		<tr stype="height: 2em">
			<td colspan="4">{{ .sl.Message }}</td>
		</tr>
		{{end}}
    </tbody>
</table>
