<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="navbar-nav">
            <a {{ if eq .nav "index" }}class="nav-link nav-spacing active" aria-current="page"{{ else }}class="nav-link nav-spacing"{{ end }} href="/">
                <i class="bi bi-house-door-fill navbar-icon"></i>
            </a>
            <a {{ if eq .nav "weather" }}class="nav-link nav-spacing active" aria-current="page"{{ else }}class="nav-link nav-spacing"{{ end }} href="/weather">
                <i class="bi bi-cloud-sun-fill navbar-icon"></i>
            </a>
        </div>
    </div>
</nav>
