<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Door Sign</title>

		{{ template "imports.html" }}
	</head>
	<body>
		{{ template "htmx_navbar.html" .}}
		<div class="mx-3 my-3">
			<div class="row row-upper">
				<div class="col">
					{{ template "htmx_time.html" .}}
				</div>
				<div class="col">
					{{ template "htmx_yr_now.html" .}}
				</div>
			</div>
			<div class="row">
				<div class="col">
					{{ template "htmx_sl.html" .}}
				</div>
				<div class="col">
					{{ template "htmx_yr_forecast.html" .}}
				</div>
			</div>
		</div>
	</body>
</html>
