.clock {
    font-size: 4rem;
    font-weight: 500;
}

.date {
    font-size: 1.6rem;
    font-weight: 500;
}

.icon {
    height: 1.65rem;
}

.row-upper {
    line-height: 0.7;
}

.white {
    filter: invert(75%) sepia(2%) saturate(1443%) hue-rotate(157deg) brightness(98%) contrast(87%);
}
