<table class="table"
       hx-get="/htmx/yr.html"
       hx-trigger="every 15m"
       hx-swap="outerHTML">
    <thead>
    <tr>
        <th scope="col" colspan="4">Väderleksrapport</th>
    </tr>
    </thead>
    <tbody>
    {{range .yr}}
    <tr>
        <th scope="row">{{ .Time }}</th>
        <td>{{ .Temperature }} °C</td>
        <td>{{ .Symbol }}</td>
        <td>{{ .Precipitation }} mm</td>
    </tr>
    {{else}}
    <tr>
        <td colspan="4">No data</td>
    </tr>
    {{end}}
    </tbody>
</table>
